{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Notes</title>
        <!-- favicon -->
        <link href="{% static 'img/favicon.png' %}" rel="icon">
        <!-- //favicon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>

    <body>
        <!-- navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <div id="nav-bar" class="container-fluid">
                <a class="navbar-brand text-white h2" href="{% url 'main' %}">Notes</a>
                <div class="navbar-end">
                    <a href="{% url 'editor' %}?docid=0" class="navbar-item">Add a New Note</a>
                </div>
            </div>
        </nav>
        <!-- //navbar -->
        <!-- banner -->
        <div class="hero-image">
          <div class="hero-text">
            <h1>Create Your Own Notes</h1>
            <a href="{% url 'editor' %}?docid=0">
            <button>Try Now</button></a>
          </div>
        </div>
        <!-- //banner -->
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <!-- copyright -->
        <div class="copyright py-3 text-center">
            <p>© 2021 Notes. All Rights Reserved </p>
        </div>
         <!-- //copyright -->

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
        <script src="{% static 'validate.js' %}"></script>
        <!-- //script -->

    </body>
</html>